---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
let about
try{
  about = await getEntry("about", "index");
} catch(error) {
  console.error("Error fetching homepage data:", error);
  about = null;
}
const page_data = {
  ...about.data,
  content: about.body,
};
const { Content } = await about.render();

---

<Base>
  <section class="py-16">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Content />
    </div>
  </section>
</Base>

