---
import Menu from '../components/Menu.astro';  // Importamos el componente del menú
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beneficios</title>
  </head>
  <body>
    <Menu />  <!-- Usamos el componente de menú aquí -->
    <h1>Pagina de Beneficios</h1>
  </body>
</html>
