---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import HomepageFeature from "@/components/react/HomepageFeature";
const { features } = Astro.props;
const { title, description, feature_list } = features;
---

<section class="section key-feature relative">
  <div class="container">
    <div class="row justify-between text-center lg:text-start ">
      <div class="lg:col-7">
        <h1 class="break-normal break-words break-keep" set:html={markdownify(title)} />
      </div>
    </div>
    <HomepageFeature feature_list={feature_list} client:load />
  </div>
</section>
